body {
    color: #40514E;
    margin: 0;
    text-align:center;
    font-family: 'Merriweather', serif;
}



h1 {margin: 50px auto 0 auto;
    font-size:5.625rem;
    font-family: 'Sacramento', cursive;
    color: #66BFBF;


}

h2 {

    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    color: #66BFBF;
    padding-bottom:10px;

}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;


}

a {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;

}
 a:hover {
 color: #EAF6F6
 }
  hr {

               border: dotted 6px;
               border-color: #EAF6F6;
               border-bottom: none;
               margin: auto;

               width:4%;
            }

.topcontainer {
    background-color: #DEFCF9;
    position: relative;
    padding-top: 100px;
    }

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;


}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.skill-row {
    width: 50%;
    margin: 80px auto;
    text-align: left;
    line-height:2;

}

.skill-image {
width:25%;
float:left;
margin-right: 30px;
}

.programmer {
width: 25%;
float:right;
margin-left:30px;
}

.profile {
margin: 80px auto;
width:30%;
text-align: center;
line-height: 2;

}

p {

}


.middle-container {




    }

.bottom-container {
    background-color: #66BFBF ;
    margin-top: 100px;
    margin-bottom:0;
    padding: 50px 0 20px;}

.contact-message {

    margin: 40px auto 60px;
    width:40%;
    text-align: center;
    line-height: 2;
}


.name {
color: #EAF6F6;
padding: 20px 0;
}

.btn {

  background:  #11cdd4;
  background-image: -webkit-linear-gradient(top,  #11cdd4, ##11999e);
  background-image: -moz-linear-gradient(top,  #11cdd4, ##11999e);
  background-image: -ms-linear-gradient(top,  #11cdd4, ##11999e);
  background-image: -o-linear-gradient(top,  #11cdd4, ##11999e);
  background-image: linear-gradient(to bottom,  #11cdd4, ##11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
